/** 
CSS styling for HW-1
**/

*{
	box-sizing: border-box;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 18px;
} 

body{
	background: #777;
}

header{
	padding: 2%;
	background-color: #ebebeb;
	color: #888;
	font-weight: bold;
	margin-right: 10%;
	margin-left: 10%;
	height: 58px;
}

nav{
	padding: 2%;
	background-color: #ebebeb;
	color: #888;
	margin-top: .7%;	
	margin-right: 10%;
	margin-left: 10%;
	height: 58px;
}

section{
	background-color: #ebebeb;
    color: #888;
    padding: 2%;
    margin-top: .7%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 1.5%;
    float: left;
    height: 220px;
    width: 43.5%;
}

aside {
    color: #888;
    padding: 1%;
    background: #ebebeb;
    margin-top: .7%;
    margin-left: -7.5%;
    height: 220px;
    width: 34%;
    float: left;
}

article{
	background-color: #777;
    color: #ebebeb;
    height: 156px;
    margin-top: 10px;
}

h1,p{
	background-color: #ebebeb;
	color: #777;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
	height: 45px;
}

footer{
	background-color: #ebebeb;
	color: #888;
	height: 44px;
	padding: 1%;
	clear: both;
	margin-top: .7%;
	margin-right: 10%;
	margin-left: 10%;
}
